.button_submit{
    margin-top: 30px;
}

.content{
    height: 500px;
}

.input_label_big{
    width: 180px !important;
}

@media(max-width: 280px)
{
    input, form section .text_input{
        font-size: 16px !important;
    }

    form section input{
        width: 46vw;
    }

    .input_label_big{
        width: 150px !important;
        left: 10px !important;
    }
}
